/*pagina opmaak */

/*plaatje opmaak */

img{
	margin-top: -10px;
	position: relative;
	margin: 0 auto;

}
.top-left{
	float: left;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px
}
.top-right{
	float: right;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px
}
.middle-right{
	float: right;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bottom-left{
	float: left;
	padding-right: 20px;
	padding-top: 25px;
}
.bottom-right{
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
}
/* text opmaak */
a{
	text-decoration: none;
	color: white;
}
a.een{
	color: #A9D5D4;
}
a.twee{
	color: #A9D5D4;
}
a.nil{
	color: #A9D5D4;
}
h1{
	font-family: Verdana;
	position: absolute;
	margin-top: -260px;
	margin-left: 570px;
}
p.text{
	font-family: Verdana;
	position: absolute;
	margin-top: -220px;
	margin-left: 570px;
}
li.start{
	color: #A9D5D4;
}
ul.top-menu{
	color: white;
	margin-left: 525px;
	margin-top: -50px;
	position: absolute;
}
ul.top-menu:hover{
	cursor: pointer;
}
li{
	display: inline;
	font-family: Verdana;
	padding-left: 10px;
}
h2{
	font-family: Verdana;
	background-color: white;
	position: relative;
	width: 780px;
	margin-bottom: -10px;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;
	color: black;
	margin: 0 auto;
}
p.text2{
	font-family: Verdana;
	position: relative;
	width: 760px;
	margin-top: 10px;
	margin-bottom: -110px;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	margin: 0 auto;

}
main{
	margin-top: -10px;
	padding-top: -10px;
	margin: 0 auto;
	background-attachment: fixed;
}
.text3{
	opacity: 0;
}
.background{
	position: absolute;
	background-color: #A9D5D4;
	width: 1920px;
	height: 300px;
	
	margin-left: -20px;
}
header{
	height: 275px;

}
div.doei{
	margin-top: -10px;
}